<!DOCTYPE html>
<html>
	<head>
		<title>Modelo</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
		<link rel="stylesheet" href="../../../Assets/Css/reset.css" />
		<link rel="stylesheet" href="../../../Assets/Css/estilos.css" />
	</head>
	<body>
	    <header id="topo">
            <div id="backgroundTop" >
	            <h1><img src="../../../Assets/Img/Header/logo.png" alt="CACC - Centro Acadêmico de Ciência da Computação"></h1>
	       </div>
	       <div>
	           <nav id="menu-principal">
	               <ul>
                       <li><a href="../../../index.html">Home</a></li>
                       <li><a href="../../../about.html">O Curso</a></li>
                       <li><a href="../Article/list-article.html">Entrevistas</a></li>
	                   <li><a href="#">Analetos</a></li>
                       <li><a href="../Tests/list-tests.html">Banco de Provas</a></li>
                       <li><a href="../../../contact.html">Contato</a></li>
                       
	               </ul>
	           </nav>
	       </div>
	    </header>
        <section>
            <section>
            <div class="author-box">
                  <a href="BaseArticles/001-msf-website.html"><h1 class="content">A contrução do Site do CACC</h1></a>
                   <a href="../Authors/matheus-silva-freitas.html"><img src="../../../Assets/Img/Authors/MatheusSilvaFreitas.jpg" alt="Foto de Perfil"></a>
                    <h1><a href="../Authors/matheus-silva-freitas.html">Matheus Silva Freitas</a></h1>
                    <p>Estudante do Curso de Ciência da Computação da UFBA</p>
                </div>
            </section>
        </section>
	</body>
</html>